# Mac directory files
*.DS_Store

# Py cache
hybcast3/ESTransformer/__pycache__
hybcast3/ESTransformer/ESRNN/__pycache__
hybcast3/ESTransformerTransformer/__pycache__
hybcast3/ESTransformer/Utils/__pycache__