# Mac directory files
*.DS_Store

# Py cache
__pycache__/

# .gitkeep
hybcast3_cookie/src/visualization/.gitkeep
hybcast3_cookie/notebooks/.gitkeep
hybcast3_cookie/references/.gitkeep
hybcast3_cookie/reports/.gitkeep
hybcast3_cookie/models/.gitkeep
hybcast3_cookie/src/data/.gitkeep
hybcast3_cookie/src/features/.gitkeep
hybcast3_cookie/src/models/.gitkeep

# ignore folder
hybcast.egg-info
dist
build
